# torch==1.11.0
# torchvision==0.12.0
torch==2.1.2
torchvision==0.16.2
onnx==1.14.0
onnxruntime==1.15.1
Pillow==10.0.0
opencv-python==4.5.4.60
Open-Tamil
numpy
pandas
gdown
pytorch-lightning==1.9.5
lmdb
matplotlib
scikit-image
timm
nltk